<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask Example</title>
  </head>
  <h1> Hello!</h1>
  <body>
    <h2>Current Courses:</h2>
    <ul>
      {% for course in courses %}
        <li> <a href="{{url_for('course', name= '{}{}-{}'.format(course.major,course.coursenum,course.title)) }}" > {{ course.major}}{{course.coursenum}}-{{course.title}}  </a> </li>
      {% endfor %}
    </ul>
    <h2>Add New Course:</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>{{ form.major.label}} 
         {{ form.major()}}
      </p>
      <p>{{ form.coursenum.label}} 
        {{ form.coursenum()}}
     </p>
     <p>{{ form.title.label}} 
      {{ form.title()}}
   </p>
    <p>{{ form.submit()}}</p>
    </form>

  </body>
</html>
